.menu   {
    color: #2ac5b3;
    text-decoration: none;
    height: 2em;
    font-size: 1.125em;
    line-height: 2em;
    padding-top: 10px;
    padding: 0 .5em;
    min-width: 9.1em;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #2ac5b3;
           
    }
