.content: {
    width: 100%;
}
.menu1{
    background:white;
    width: 100%;
    height: 5.375em;
}
.menu   {
    color: #2ac5b3;
    text-decoration: none;
    height: 2em;
    font-size: 1.125em;
    line-height: 2em;
    padding-top: 10px;
    padding: 0 .5em;
    min-width: 9.1em;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #2ac5b3;
    margin-top: 20px;
           
    }
.font a{
    font-size: 15px;
    text-decoration: none;
    display: block;
    margin-top: 20px;

}
.font a:hover{
    color: #41C1AA;
}
.col-md-2-5{
    width: 9.1em;
}
/*.menu2{
    background: #41C1AA;
    min-width: 100%;
    height: 600px;
}*/